<form action="//www.html.am/html-codes/forms/html-form-tag-action.cfm" target="result" method="get">
<p>What would you like for lunch?</p>
<input type="checkbox" name="fruit" value="Apple"> Apple
<input type="checkbox" name="fruit" value="Orange"> Orange 
<input type="checkbox" name="fruit" value="Banana"> Banana 
<p><input type="submit" value="Submit"></p>
</form>
<h3>Result:</h3>
<iframe name="result" style="height:100px;width:200px;"></iframe>
